@keyframes checkmark {
    0% {
        stroke-dashoffset: 50px
    }

    100% {
        stroke-dashoffset: 0
    }
}

@keyframes checkmark-circle {
    0% {
        stroke-dashoffset: 240px
    }

    100% {
        stroke-dashoffset: 480px
    }
}

.icon--order-success svg path {
    -webkit-animation: checkmark 0.25s ease-in-out 1s backwards;
}

.icon--order-success svg circle {
    -webkit-animation: checkmark-circle 1s ease-in-out backwards;
}

.container {
    width: 70vw;
    max-width: 290px;
    transform: translate(-50%, -50%);
    height: 27vh;
    background-color: black;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 20px;
    justify-content: center;
    animation: scale-up-bottom 0.7s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

.text {
    color: #fff;
    text-align: center;
    background-color: green;
    border-radius: 11px;
    padding: 5px
}

@keyframes scale-up-bottom {
    0% {
        transform: scale(0.5);
        transform-origin: 50% 100%;
    }

    100% {
        transform: scale(1);
        transform-origin: 50% 100%;
    }
}